<h3>Add New Student</h3>

<form action="/Students/AddNewStudent" method="post">
    <table>
        <tbody>
            <tr><td><input type="text" name="name" placeholder="Enter Name" /></td></tr>
            <tr><td><input type="email" name="email" placeholder="Enter email" /></td></tr>
            <tr><td><input type="text" name="mobile_no" placeholder="Enter mobile number" /></td></tr>
            <tr><td><input type="text" name="address" placeholder="Enter address" /></td></tr>

            <tr><td><input type="number" name="fees" placeholder="Enter fees" /></td></tr>            
            <tr><td><input type="text" name="address" value="Active" readonly /></td></tr>
        </tbody>
    </table>
    <input type="submit" value="Add" />
</form>