<h3>Update Student Details</h3>

<form action="/Students/UpdateStudentDetails" method="post">
    <table>
        <tbody>
            <tr><td><input type="number" name="id" placeholder="Enter id" /></td></tr>
            <tr><td><input type="text" name="name" placeholder="Enter Name" /></td></tr>
            <tr><td><input type="email" name="email" placeholder="Enter email" /></td></tr>
            <tr><td><input type="text" name="mobile_no" placeholder="Enter mobile number" /></td></tr>
            <tr><td><input type="text" name="address" placeholder="Enter address" /></td></tr>
            <tr><td><input type="text" name="status" placeholder="Active/inactive" /></td></tr>
        </tbody>
    </table>
    <input type="submit" value="Update" />
</form>
